@media (min-width: 768px) {
    header {
        grid-template-areas: 
        "img title"
        "img nav";
    }
    .headerImg { grid-area: img; }
    .headerTitle { grid-area: title; }
    .nav { grid-area: nav; }

    header h1 {
        font-size: 3rem;
    }

    header img {
        width: 100%;
    }

    #sockHero {
        width: 80%;
        border: 2px solid #2D3142;
        border-top: none;
        border-radius: 10px;
    }

    .itemsContainer {
        flex-direction: row;
        margin: 50px auto;
    }

    footer {
        flex-direction: row;
        align-items: center;
    }

    footer div {
        flex: 1;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: 90%;
        align-self: center;
        margin-bottom: 14px;
        padding-bottom: 20px;
        border-left: 2px dashed #960200;
        border-top: 2px dashed #960200;
    }

    nav a {
        border-top: none;
        font-size: 1.8rem;
        height: 90%;
        align-content: center;
        font-weight: bold;
        border-right: 1px solid #2D3142;
    }

    nav a:nth-child(3) {
        border-right: none;
    }

    .hamburger {
        display: none;
    }
}